[Unit]
Description=Telegram Userbot (Always Online)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# مسیر پروژه رو در صورت نیاز تغییر بده
WorkingDirectory=/opt/telegram_userbot
# از venv استفاده میکنیم
ExecStart=/opt/telegram_userbot/venv/bin/python /opt/telegram_userbot/userbot.py
Restart=always
RestartSec=10
StandardOutput=append:/opt/telegram_userbot/userbot.out.log
StandardError=append:/opt/telegram_userbot/userbot.err.log
# کاربری که سرویس زیرش اجرا بشه (توصیه میشه یه کاربر غیر root بسازی)
User=root

[Install]
WantedBy=multi-user.target
